<br /><br />
<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>Create a new game</h2>
    <%= simple_form_for Game.new do |f| %>
        <%= f.input :name %>
        <%= f.submit 'Create New Game', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
