// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chess-board td {
  text-align: center;
}

.chess-board td.black {
  background: url('blackmarble.png')
}

.chess-board td.white {
  background: url('whitemarble.png')
}

.chess-board td a:hover {
  background-color: yellow;
}
